#loading {
    background: #000 url(../assets/img/loader.gif) no-repeat center center;
    background-size: 15%;
    height: 100vh;
    width:100%;
    position: fixed;
    z-index: 100;
}
body,html {
  margin: 0;
  padding: 0;
  background-image: url('../assets/img/Designer.jpg') ; /* Replace with your background image */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: absolute;
  
  
  height: 100%;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
  gap: 20px;
  padding: 20px;
  color: white;
 
  margin: 10px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}
.button-item {
  text-align: center;
  border: 3px solid #fff; /* Elegant border */
  border-radius: 10px; /* Rounded corners */
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white background */
}
.custom-button {
  background-color: #0ede15; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 28px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px; /* Rounded corners for buttons */
}
.button-item .custom-button + p {
  color: #240a57; /* Change this hex value to the color you prefer */
}

.head{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  flex-direction: column;
  text-align: center;
  font-size: 50px;
  color: rgb(0, 51, 128);
}