<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="..\static\css\home.css">
</head>
<body>
    <div class="head"> 
        <h1>Welcome to the world of concrete</h1></div>
    
    <div class="button-container">
        <div class="button-item">
            <button class="custom-button" onclick="location.href='concrete';">Compressive Strength(Normal Concrete)</button>
            <p>Predict the compressive strength of concrete(normal).</p>
        </div>
        <div class="button-item">
            <button class="custom-button" onclick="location.href='slump';">Slump Height(High Strength)</button>
            <p>Predict the slump height of freshly mix concrete(high strength concrete).</p>
        </div>
        <div class="button-item">
            <button class="custom-button" onclick="location.href='highconcrete';">Compressive Strength(High Strength Concrete)</button>
            <p>Predict the compressive strength of high strength concrete.</p>
        </div>
        <div class="button-item">
            <button class="custom-button" onclick="location.href='reverse';">Mix Proportion</button>
            <p>Predict the mix proportion from compressive strength of concrete.</p>
        </div>
       
    </div>


    <script>var loading = document.getElementById("loading");
    
    window.addEventListener("load",function(){
        loading.style.display="none"
    })
    </script>
</body>
</html>
