<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mix proportion Prediction</title>
    <link rel="stylesheet" type="text/css" href="../static/css/reverse.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<body>
    <div id="loading"></div>
    
    <!-- <div
        id="loading"
        style="height: 100vh;width: 100%;position: absolute;top: 0;right: 0;left: 0;bottom: 0; background: linear-gradient(45deg,rgb(71, 215, 215),rgb(39, 8, 13));display: none;justify-content: center;align-items: center;">
        <h1 style="color: white;font-size: 6rem;">LOADING ...</h1>
    </div> -->
    <main class="main-container" id="content">
        <div class="card">
            <div class="title">mix proportion Predictor</div>
            <form id="predictionForm" name="sentMessage">
                <div class="input-group">
                    <i class="fas fa-cubes icon"></i>
                    <input type="number" min="5" step="0.01" id="strength" name="strength" placeholder="strength (Mpa)" required>
                </div>
                
                </div>
                <button id="sendMessageButton" class="submit-btn">Predict mix proportion</button>
                <div id="resultDisplay" class="result-display" style="display: none">
                    <h2 class="result-display">Predicted mix proportion</h2>
                    <p id="resultValue" class="result-value"></p>
                </div>
            </form>
        </div>
        <div class="answer card"> 
            <h3>Cement:</h3>
            <div class="box">Empty</div>           
            <h3>Water:</h3>
            <div class="box">Empty</div>
            <h3>Fine Aggregate:</h3>
            <div class="box">Empty</div>
            <h3>Coarse Aggregate:</h3>
            <div class="box">Empty</div>
        </div>
    </main>
    <script src="../static/js/reverse.js"></script>

    <script>var loading = document.getElementById("loading");
    
    window.addEventListener("load",function(){
        loading.style.display="none"
    })
    </script>
</body>

</html>